main {
    margin: 0 10%;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section {
    margin-bottom: 120px;
}

/* banner section */
.banner {
    background-image: linear-gradient(rgb(7, 2, 17), rgba(255, 255, 255, 0)), url('../imges/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 5%;
    height: 85vh;
}

.banner-text {
    width: 50%;
    display: inline-block;
    margin: 8% auto;
}

.banner-text p {
    font-size: 2em;
    word-spacing: 10px;
}

.banner-text h1 {
    font-size: 3em;
}

/* holiday deal section */

.holiday-deal {
    padding: 0 20%;
    text-align: center;
}

#offerText {
    font-size: 3em;
    font-weight: bold;
    color: green;
}

.comn-clr {
    color: red;
}

.holiday-offer h2 {
    font-size: 2em;
}

.holiday-deal img {
    width: 100%;
}

/* midNight party section */

.midnight-party {
    background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0)), url('../imges/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.flexible {
    display: flex;
}

.party-info {
    color: white;
    width: 60%;
    padding: 5%;
}

.party-info h2 {
    font-size: 3em;
}

.join-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 5%;
    padding: 1% 8%;
}

.join-btn:hover {
    background-color: white;
    color: black;
}

.party-img {
    width: 40%;
}

.party-img img {
    width: 60%;
    margin-top: 20%;
}

/* Party address section */

.party-address {
    padding: 5%;
    text-align: center;
    font-weight: bold;
}

.color-mntain {
    border: 1px solid black;
    color: black;
}

.color-mntain:hover {
    background-color: black;
    color: white;
}

/* Bonus section */

.bonus-sec {
    display: flex;
}

.best-offer {
    width: 40%;
    padding: 5%;
}


.offer-img {
    width: 40%;
    padding: 5%;
}

.offer-img img {
    width: 80%;
    padding: 5%;
    border: 6px solid red;
    border-radius: 50%;
}

.aside-text {
    width: 20%;
    padding: 5%;
}

.big-txt {
    font-size: 2em;
    font-weight: bold;
}

/* Holiday Sale section */

.holiday-sale {
    text-align: center;
}

.sec-mini-title {
    font-weight: bold;
}

.holiday-sale h2 {
    font-size: 3em;
}

.sec-txt {
    color: gray;
    margin-bottom: 5%;
}

.img-ptrn {
    width: 100%;
    height: 80vh;
    position: relative;
}

.red-rectangle {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 2px;
}

.our-girl {
    width: 25%;
    position: absolute;
    top: 4.5%;
    left: 75%;
}

.discount-img {
    width: 15%;
    position: relative;
    bottom: 20%;
    left: 45%;
}

.gift-box {
    width: 40%;
    position: relative;
    right: 30%;
    top: 20%;
}